.date-time-item-tile {
  
  background: $white;
  color: $headings-color;
  
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;

  $date-time-font-size-large: floor(($font-size-base * 4)) !default; // ~36px
  $date-time-font-size-small: floor(($font-size-base * 1.4)) !default; // ~36px

  .date-time-container {
    line-height: 1;
    margin-top: 30px;
    position: relative;
    height: $date-time-font-size-large;
  }

  .time {
    font-size: $date-time-font-size-large;
  }
  .day-in-week {
    font-size: $date-time-font-size-small;
    position: absolute;
    left: 50%;
    top: 7px;
    vertical-align: top;
  }
  .date {
    font-size: $date-time-font-size-small;
    position: absolute;
    left: 50%;
    bottom: 3px;
    vertical-align: text-bottom;
  }
}