
<div class="col-sm-6 col-md-6">
  <div class="thumbnail tile tile-wide" style="background:white">
    <a href="#" class="fa-links">
      <h1 style="color:#0a2864">Wohnzimmer</h1>
      <div class="tile-content" style="color:#3e3e3e">Content a sdadaghsdj askdfg aksgdf askdgf aksgfh askfgj asdagsfaghjs fdaghjsd fkasgh fkashgjf kasjhgfd skjhgd </div>
      <div class="tile-label">Label</div>
      <small>asasdasdasdasd</small>
      <span class="badge pull-right">42</span>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail tile tile-medium tile-orange">
    <a href="#" class="fa-links">
      <h1>RSS</h1>
      <i class="fa fa-3x fa-rss-square"></i>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail tile tile-medium tile-orange">
    <a href="#" class="fa-links">
      <h1>News</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail tile tile-medium tile-orange">
    <a href="#" class="fa-links">
      <h1>News</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail tile tile-medium tile-orange">
    <a href="#" class="fa-links">
      <h1>News</h1>
    </a>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail tile tile-medium tile-orange">
    <a href="#" class="fa-links">
      <h1>News</h1>
    </a>
  </div>
</div>
  